ul {

  display: absolute;
    padding: 0;
    width: 80px;
    background-color: #fff;
    height: 100%; /* Full height */
    position: fixed;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    box-shadow: 7px 4px 14px 5px rgba(0,0,0,0.32);
  }
  .logoPerfil{
    width: 50px;
  
}
  .iconNav{
    width: 35px;
    height: auto;
    cursor: pointer;
    margin:10px 0 45px 0;
  }
  .iconNav:hover{
    box-shadow: 0 4px 16px rgb(143, 49, 172);
    transition: all 0.2s ease;
  }
  .homeIcon{
    margin-top: 50px;
  }
  .boxIcon{
    color:#5B00A2;
  }