ul {
    margin: 25px 0 0 5px;
    padding: 0;
    width: 80px;
    background-color: #fff;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    flex-direction: column;
    justify-content: center;
  }
  .iconNav{
    width: 35px;
    height: auto;
    cursor: pointer;
    margin:10px 0 45px 0;
  }
  .iconNav:hover{
    box-shadow: 0 4px 16px rgb(143, 49, 172);
    transition: all 0.2s ease;
  }
  .homeIcon{
    margin-top: 50px;
  }
  .boxIcon{
    color:#5B00A2;
  }