.containerTable{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;

}
.containerBtnUp{
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-top: 25px;
    
}

.filterItems{
   display: flex;
   flex-direction: row;
    grid-column: 1;
    grid-row: 1;
    width: 100px;
    height: 100px;
    color:#5E5873;
    margin-left: 35px;
    
}
.pageSelect{
    width: 91px;
    height: 45px;
    border-color: rgba(103, 103, 103, 0.2);
    background-color: transparent;
   

}
.search{
    display: flex;
    width: 840px;
    height: 42px;
    grid-column: 2;
    grid-row: 1;
    border-color: rgba(103, 103, 103, 0.2);
    background-color: transparent;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    text-align: left;
    margin-left: 45px;
    
   
    
}
.filterBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70% ;
  margin-left: 190px;
    
   
}
.btnColumn{
    width: 232px;
    height: 42px;
    background-color: rgba(91, 0, 162, 0.12);
    border:none;
    color:rgba(76, 17, 123, 1);
    font-size: 14px;
    grid-column: 1/5;
    grid-row: 1;
    
    

}
.filter{
    color:rgba(76, 17, 123, 1);  
    height: 42px;
    width: 42px;
    border: none;
    background-color: transparent;
    grid-column: 5;
    grid-row: 1/span 1;
}
.iconBtnSize{
    height: 30px;
    width: 30px;
}
.table{
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
 
   
}
.columns{
   height: 45px;
    border: 2px solid rgba(91, 0, 162, 0.2);
    background-color: #F3F2F7;
    color: rgba(76, 17, 123, 1);
    
    
   
    
}

td {
    margin: 0;
    border-bottom: 2px solid rgba(91, 0, 162, 0.2);
    padding: 5px 40px 5px 5px;
    width: fit-content;
    height: 40px;
   
}
.btnTableOpcion{
    border:none;
    background-color: transparent;
}
.opcionTable{
    color:#5B00A2;
   
}
 .table .containerBtnPagination{
    width: 100px;
    height: fit-content;
    display: flex;
    justify-content: right;
    align-content: right;
    margin-top: 10px;
    
}
.columnState{
    display: flex;
    color:rgba(32, 201, 151, 1);
    border: 1px solid rgba(32, 201, 151, 1);
    width: 140px;
    height: 20px;
    align-content: center;
    justify-content: center;

}
.btonPagination{
    width: 32px;
    height: 32px;
    background-color: rgba(103, 103, 103, 0.12);
    border-radius: 29px;
    color:#5B00A2;
    border:none;
    justify-content: right;
    align-items: right;
}
